# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [14]:
## Dependencies and Setup
import pandas as pd
import requests
import gmaps
#import os
import numpy as np

# Import API key
#import sys
#sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [15]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv (file_path)

# Display sample data
city_data_df.head(10)

#city_data_df.dtypes

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,kapaa,US,22.0752,-159.3190,79.12,88,20,13.80
1,1,jibuti,DJ,11.5000,42.5000,77.68,64,4,13.71
2,2,lyubashivka,UA,47.8372,30.2598,55.06,78,90,14.34
3,3,saint-philippe,RE,-21.3585,55.7679,72.99,83,44,10.02
4,4,upernavik,GL,72.7868,-56.1549,29.17,79,100,4.52
5,5,punta arenas,CL,-53.1500,-70.9167,57.31,47,0,21.85
6,6,rikitea,PF,-23.1203,-134.9692,72.14,81,90,13.47
7,7,atar,MR,20.5169,-13.0499,98.91,8,1,8.34
8,8,broome,US,42.2506,-75.8330,65.70,59,0,6.91
9,9,souillac,MU,-20.5167,57.5167,73.78,83,75,6.91

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [16]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter minimum temp\n"))# YOUR CODE HERE

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter maximum temp\n"))# YOUR CODE

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [17]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & 
                                       (city_data_df["Max Temp"]<=max_temp)]                     # YOUR CODE HERE 
                                    
# Display sample data
print(preferred_cities_df.head(10)) # YOUR CODE HERE

    City_ID            City Country      Lat       Lng  Max Temp  Humidity  \
0         0           kapaa      US  22.0752 -159.3190     79.12        88
1         1          jibuti      DJ  11.5000   42.5000     77.68        64
2         2     lyubashivka      UA  47.8372   30.2598     55.06        78
3         3  saint-philippe      RE -21.3585   55.7679     72.99        83
4         4       upernavik      GL  72.7868  -56.1549     29.17        79
5         5    punta arenas      CL -53.1500  -70.9167     57.31        47
6         6         rikitea      PF -23.1203 -134.9692     72.14        81
8         8          broome      US  42.2506  -75.8330     65.70        59
9         9        souillac      MU -20.5167   57.5167     73.78        83
10       10      hambantota      LK   6.1241   81.1185     79.52        77

    Cloudiness  Wind Speed
0           20       13.80
1            4       13.71
2           90       14.34
3           44       10.02
4          100        4.52
5            0       21.85
6           90       13.47
8            0        6.91
9           75        6.91
10          98       15.52

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [18]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna() # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,kapaa,US,22.0752,-159.3190,79.12,88,20,13.80
1,1,jibuti,DJ,11.5000,42.5000,77.68,64,4,13.71
2,2,lyubashivka,UA,47.8372,30.2598,55.06,78,90,14.34
3,3,saint-philippe,RE,-21.3585,55.7679,72.99,83,44,10.02
4,4,upernavik,GL,72.7868,-56.1549,29.17,79,100,4.52
5,5,punta arenas,CL,-53.1500,-70.9167,57.31,47,0,21.85
6,6,rikitea,PF,-23.1203,-134.9692,72.14,81,90,13.47
8,8,broome,US,42.2506,-75.8330,65.70,59,0,6.91
9,9,souillac,MU,-20.5167,57.5167,73.78,83,75,6.91
10,10,hambantota,LK,6.1241,81.1185,79.52,77,98,15.52

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [19]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities.copy(["City", "Country", "Max Temp", "Lat", "Lng"])# YOUR CODE HERE

new_column_order = ["City","Country","Max Temp", "Lat", "Lng"]


# Recreate the DataFrame by using the new column order
# YOUR CODE HERE
hotel_df = hotel_df[new_column_order]

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng
0            kapaa      US     79.12  22.0752 -159.3190
1           jibuti      DJ     77.68  11.5000   42.5000
2      lyubashivka      UA     55.06  47.8372   30.2598
3   saint-philippe      RE     72.99 -21.3585   55.7679
4        upernavik      GL     29.17  72.7868  -56.1549
5     punta arenas      CL     57.31 -53.1500  -70.9167
6          rikitea      PF     72.14 -23.1203 -134.9692
8           broome      US     65.70  42.2506  -75.8330
9         souillac      MU     73.78 -20.5167   57.5167
10      hambantota      LK     79.52   6.1241   81.1185

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = "" # YOUR CODE HERE

# Display sample data
hotel_df.head(10)# YOUR CODE HERE

len(hotel_df)

550

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [26]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [27]:
# Iterate through the hotel DataFrame 
for index in range(0 , len(hotel_df)) :
    # Fetch latitude and longitude from the DataFrame
    lat = hotel_df.iloc[index,3]# YOUR CODE HERE
    lng = hotel_df.iloc[index,4]# YOUR CODE HERE
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()# YOUR CODE HERE
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        abc=1
       # print("Hotel not found... skipping.")

In [28]:
# Display sample data
hotel_df.head(10)# YOUR CODE HERE

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,jibuti,DJ,77.68,11.5000,42.5000,Orchid Main Camp Goubet
2,lyubashivka,UA,55.06,47.8372,30.2598,Hotelʹ
3,saint-philippe,RE,72.99,-21.3585,55.7679,Le four à pain
4,upernavik,GL,29.17,72.7868,-56.1549,Café de Upernavik
5,punta arenas,CL,57.31,-53.1500,-70.9167,Hotel Hain
6,rikitea,PF,72.14,-23.1203,-134.9692,People ThankYou
8,broome,US,65.70,42.2506,-75.8330,Shanti Maurice Resort & Spa
9,souillac,MU,73.78,-20.5167,57.5167,Bungalow 63
10,hambantota,LK,79.52,6.1241,81.1185,Valle Aridane

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [30]:
# Drop the rows where there is no Hotel Name.
#clean_hotel_df = # YOUR CODE HERE
clean_hotel_df = hotel_df.dropna()


# Display sample data
# YOUR CODE HERE
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,jibuti,DJ,77.68,11.5000,42.5000,Orchid Main Camp Goubet
2,lyubashivka,UA,55.06,47.8372,30.2598,Hotelʹ
3,saint-philippe,RE,72.99,-21.3585,55.7679,Le four à pain
4,upernavik,GL,29.17,72.7868,-56.1549,Café de Upernavik
5,punta arenas,CL,57.31,-53.1500,-70.9167,Hotel Hain
6,rikitea,PF,72.14,-23.1203,-134.9692,People ThankYou
8,broome,US,65.70,42.2506,-75.8330,Shanti Maurice Resort & Spa
9,souillac,MU,73.78,-20.5167,57.5167,Bungalow 63
10,hambantota,LK,79.52,6.1241,81.1185,Valle Aridane

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [31]:
# Set the file name.
output_data_file =  "../Vacation_Search/WeatherPy_vacation.csv" # YOUR CODE HERE

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID") # YOUR CODE HERE

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [40]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd> and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [41]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>kapaa</dd>\n<dt>Country</dt><dd>US</dd> and 79.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Orchid Main Camp Goubet</dd>\n<dt>City</dt><dd>jibuti</dd>\n<dt>Country</dt><dd>DJ</dd> and 77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotelʹ</dd>\n<dt>City</dt><dd>lyubashivka</dd>\n<dt>Country</dt><dd>UA</dd> and 55.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>saint-philippe</dd>\n<dt>Country</dt><dd>RE</dd> and 72.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Café de Upernavik</dd>\n<dt>City</dt><dd>upernavik</dd>\n<dt>Country</dt><dd>GL</dd> and 29.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>punta arenas</dd>\n<dt>Country</dt><dd>CL</dd> and 57.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>rikitea</dd>\n<dt>Country</dt><dd>PF</dd> and 72.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>broome</dd>\n<dt>Country</dt><dd>US</dd> and 65.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>souillac</dd>\n<dt>Country</dt><dd>MU</dd> and 73.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Valle Aridane</dd>\n<dt>City</dt><dd>hambantota</dd>\n<dt>Country</dt><dd>LK</dd> and 79.52 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [42]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   22.0752 -159.3190
1   11.5000   42.5000
2   47.8372   30.2598
3  -21.3585   55.7679
4   72.7868  -56.1549
5  -53.1500  -70.9167
6  -23.1203 -134.9692
8   42.2506  -75.8330
9  -20.5167   57.5167
10   6.1241   81.1185

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [45]:
# Add a marker layer for each city to the map. 
fig_map = gmaps.figure(center=(40.0, 41.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)# YOUR CODE HERE

# Create a figure to add the Google map as a layer
fig_map.add_layer(marker_layer)# YOUR CODE HERE

# Display the figure containing the map
fig_map# YOUR CODE HERE

Figure(layout=FigureLayout(height='420px'))